body {
    margin: 0;
    padding: 0;
    /* background-color: yellow; */
}

.grid{
    padding-right: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    /* background-color: yellow; */
}

.countryDiv{
    width: 20%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;

    margin-bottom: 50px;
}

.flag{
    height: 200px;
    width: 100%;
}

.name{
    font-size: large;
    margin-bottom: 20px;
    margin-top: 20px;

}